node_modules/
dist/
unpackage/
**/.vitepress/cache/
**/.vitepress/dist/
**/.vitepress/.temp/
*.log
.DS_Store
.idea/
.vscode/
.env*
.env.local
coverage/
local-packages/
*.tgz
*.tsbuildinfo
.eslintcache
test-results/
playwright-report/
/.superpowers
/tests
/.workbuddy
/.trae
